.class1{
    background-Color: #10477F;
    display: flex;
    justify-content: center;
    margin: 0;
}

.class2{
    padding: 2% 0 4% 0
}

.p{
    font-size: 60px;
     color: #FFF;
     margin: 0
}

.hr{
    max-width: 100%
}

@media (max-width: 767px) {
    /* Estilos para telas pequenas */
    .p{
        font-size: 24px;
    }
  }
  
  /* Tablets e telas médias */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets e telas médias */
    .p{
        font-size: 32px;
    }
  }
  
  /* Desktops e telas grandes */
  @media (min-width: 1024px) and (max-width: 1919px) {
    /* Estilos para desktops e telas grandes */
    .p{
        font-size: 48px;
    }
  }