.rodape{
    background-color: #10477F;
    padding: 3% 15% 2% 15%;
}

.container{
    display: flex;
    justify-content: space-around;
}

.logo{
    max-width: 40%;
}

.texto{
    color: #FFF;
    font-size: 14;
}
.siga{
    color: #FFF;
    font-size: 14;
}

.balao{
    font-size: 20;
    color: #fff;
    border: 2px solid #F7D400;
    padding: 0.250em 1.8em;
    border-radius: 25px;
}

.divUm,
.divDois,
.divTres {
  flex-basis: 33.33%; /* Dividir igualmente em 3 partes */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 0 3%;
}