.container{
    background-color: #F6F1E4;
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    border: 1px solid #10477F;
    flex-basis: 22%;
    padding: 2% 0 1% 0;
}
.numero{
    font-size: 50px;
    margin: 0;
    color: #10477F;
}

.titulo{
    font-size: 18px;
    margin: 6% 0 0 0;
    color: #10477F;
}

@media (max-width: 767px) {
    /* Estilos para telas pequenas */
    .container{
        background-color: #F6F1E4;
        display: flex;
        padding: 2% 5%;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .box{
        border: 1px solid #10477F;
        flex-basis: 22%;
        padding: 2% 0 1% 0;
    }
    .numero{
        font-size: 18px;
        margin: 0;
        color: #10477F;
    }
    
    .titulo{
        font-size: 6px;
        margin: 6% 0 0 0;
        color: #10477F;
    }
  }
  
  /* Tablets e telas médias */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets e telas médias */
    .container{
        background-color: #F6F1E4;
        display: flex;
        padding: 2% 5%;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .box{
        border: 1px solid #10477F;
        flex-basis: 20%;
        padding: 2% 0 1% 0;
    }
    .numero{
        font-size: 24px;
        margin: 0;
        color: #10477F;
    }
    
    .titulo{
        font-size: 11px;
        margin: 6% 0 0 0;
        color: #10477F;
    }
  }
  
  /* Desktops e telas grandes */
  @media (min-width: 1024px) and (max-width: 1919px) {
    /* Estilos para desktops e telas grandes */
    .container{
        background-color: #F6F1E4;
        display: flex;
        padding: 2% 5%;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .box{
        border: 1px solid #10477F;
        flex-basis: 22%;
        padding: 2% 0 1% 0;
    }
    .numero{
        font-size: 32px;
        margin: 0;
        color: #10477F;
    }
    
    .titulo{
        font-size: 16px;
        margin: 6% 0 0 0;
        color: #10477F;
    }
  }