/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 0.9rem;-----------------------------------------------------------------*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.9rem;
}
@media (min-width: 992px){
    #rev_slider_1_1_wrapper {
        margin-top: -250px !important;
    }

}

@media (min-width: 992px){
    .full-header .primary-menu .menu-container {
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        border-right: none;
    }}

    @media (min-width: 992px){
        .transparent-header.full-header .primary-menu .menu-container {
            border-right: none;
        }}

@media (min-width: 992px){
    #header.transparent-header.full-header #logo {
        border-right: none;
    }}

    @media (min-width: 992px){
        .full-header #logo {
            padding-right: 30px;
            border-right: none;
        }}

#redes_sociais_header{
    margin-top:10px;
    text-align: center;
}

.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px !important;
    color: #ffffff;
    background-color: #F2B01C;
    text-shadow: none;
    border: 1px solid #F2B01C;
    border-radius: 3px;
    overflow: hidden;
}

.si-rounded { border-radius: 50%; }

.si-skype:hover, .si-colored.si-skype {
    background-color: forestgreen ;
}

/* Cores Menu */
.menu-link {
    display: block;
    line-height: 22px;
    padding: 14px 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 992px) {
        .menu-link {
        color: #F2B01C !important;
           }
}

.stick-header.menu-link {
    display: block;
    line-height: 22px;
    padding: 14px 5px;
    color: #F2B01C !important;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

#logo img {
    padding: 10px;

}

#logo {
    margin-right: 0;
}

@media (min-width: 992px){
    .sub-menu-container, .mega-menu-content {

        background-color: #FFF;
        border: 1px solid #EEE;
        border-top: 2px solid #F2B01C;

    }}

.menu-item:hover > .menu-link,
.menu-item.current > .menu-link {
    color: #F2B01C;
}

.sub-menu-container,
.mega-menu-content {

    background-color: #FFF;
    border: 1px solid #EEE;
    border-top: 2px solid #F2B01C;

}

.sub-menu-container .menu-item:hover > .menu-link {
    background-color: #F9F9F9;
    padding-left: 18px;
    color: #F2B01C;
}

.breadcrumb a:hover { color: #F2B01C; }

.dark .menu-item:hover > .menu-link, .dark .menu-item.current > .menu-link {
    color: #F2B01C;
}

@media (min-width: 992px){
    .dark .primary-menu:not(.not-dark) .sub-menu-container .menu-item:hover > .menu-link {
        background-color: rgba(0,0,0,0.1);
        color: #F2B01C;
    }

    .dark .menu-item:hover > .menu-link, .dark .menu-item.current > .menu-link {
        color: #F2B01C;
    }}

.dark .menu-item:hover > .menu-link,
.dark .menu-item.current > .menu-link {
    color: #F2B01C;
}

.dark .primary-menu:not(.not-dark) .sub-menu-container,
.dark .primary-menu:not(.not-dark) .mega-menu-content {
    background-color: #333;
    border-color: rgba(255,255,255,0.05);
    border-top-color: #F2B01C;
}

.dark .primary-menu:not(.not-dark) .sub-menu-container .menu-item:hover > .menu-link {
    background-color: rgba(0,0,0,0.1);
    color: #F2B01C;
}

.button.button-border {
    background-color: #F2B01C;
}

.secsctext {
    position: relative;
    margin: 60px 0;
    /*padding: 20px 0 0 0;*/
    background-color: #efefef;
    overflow: hidden;
}
.sctext {
    height: 200px;
    overflow: hidden;
    position: relative;
    background: #efefef;
}
.sctext h1 {
    font-size: 6vw;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 90px;
    line-height: 30px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: sctext 15s linear infinite;
    -webkit-animation: sctext 15s linear infinite;
    animation: sctext 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes sctext {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes sctext {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes sctext {
    0%   {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

.progress-bar {
    background-color: #F2B01C !important;
}

#btninsc{

    position: relative;
    z-index: 20;
    top:50px;
}

#btninscmini{
    position: relative;
    z-index: 20;
    top:80px;

}

#btnsbm{

    position: relative;
    z-index: 20;
    top:10px;
}

#btnsbmcmini{
    position: relative;
    z-index: 20;
    top:10px;

}

#bginscbtn{
    font-size: 24px !important;
    padding: 30px 150px 30px 150px !important;
}
.button-green {
    background-color: #F2B01C;
}

.button-green:not(.button-border) {
    background-color: #F2B01C !important;
}


@media screen and (min-width: 989px) {
    #btninscmini{
        display: none;
    }
    #btnsbmcmini{
        display:none;
    }
}


@media screen and (max-width: 992px) {
    .mobile-padding {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .sctext{
        height: 50px !important;
    }
    .sctext h1{
        margin: 0 !important;
    }
    #btninsc{
        display: none;
    }
    #btnsbm{
        display: none;
    }
    .nav-item a{
        font-size:12px !important;
    }
    #btnvoltar10{
        font-size: 12px;
        width: 100px;
    }
}

.button.button-small {
    padding: 7px 17px;
    font-size: 12px;
    line-height: 20px;
    background-color: #F2B01C !important;
    margin: 20px;
}
.feature-box h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #515151;
}

.feature-box.fbox-gold.fbox-outline .fbox-icon { border-color: #444; }

.feature-box.fbox-gold .fbox-icon i,
.feature-box.fbox-gold .fbox-icon img { background-color: #F2B01C; }


/* Feature Box - Border - Gold
-----------------------------------------------------------------*/

.feature-box.fbox-border.fbox-gold .fbox-icon { border-color: #333; }

.feature-box.fbox-border.fbox-gold .fbox-icon i,
.feature-box.fbox-border.fbox-gold .fbox-icon img { color: #F2B01C; }

.feature-box.fbox-border .fbox-icon {
    border: 1px solid #F2B01C;
    border-radius: 50%;
}

.feature-box.fbox-center:not(.fbox-bg) h3:after {
    content: '';
    display: block;
    margin: 20px auto;
    width: 30px;
    border-top: 2px solid #F2B01C;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}

fbox-effect .fbox-icon i:after {
    top: -3px;
    left: -3px;
    padding: 3px;
    box-shadow: 0 0 0 2px #F2B01C;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.3s, opacity 0.3s;
    transform: scale(.8);
    opacity: 0;
}

.fbox-effect .fbox-icon i:hover,
.fbox-effect:hover .fbox-icon i {
    background-color: #ffffff;
    color: #F2B01C;
}

.fbox-effect.fbox-dark .fbox-icon i:hover,
.fbox-effect.fbox-dark:hover .fbox-icon i { background-color: #F2B01C; }

.fbox-effect .fbox-icon i:hover:after,
.fbox-effect:hover .fbox-icon i:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.fbox-border.fbox-effect.fbox-dark .fbox-icon i:after { background-color: #F2B01C; }

.fbox-border.fbox-effect .fbox-icon i:hover:after,
.fbox-border.fbox-effect:hover .fbox-icon i:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.i-circled:hover {
    background-color: #F2B01C;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
}
.feature-box.fbox-center .fbox-icon {
    position: relative;
    width: 120px;
    height: 95px;
    margin: 0 auto 30px;
}

.feature-box.fbox-center {
    padding: 0 30px;
    text-align: center;
}

.feature-box.fbox-center.fbox-small { padding-left: 0 !important; }

.feature-box.fbox-center .fbox-icon i {
    font-size: 40px;
    line-height: 95px;
}

.feature-box.fbox-center.fbox-outline .fbox-icon i { line-height: 88px; }

.feature-box.fbox-center p {
    font-size: 14px;
    margin-top: 15px;
}

.fbox-effect .fbox-icon i:after {
    top: -3px;
    left: -3px;
    padding: 3px;
    box-shadow: 0 0 0 2px #F2B01C;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.3s, opacity 0.3s;
    transform: scale(.8);
    opacity: 0;
}

.fbox-effect .fbox-icon i:hover,
.fbox-effect:hover .fbox-icon i {
    background-color: #ffffff;
    color: #F2B01C;
}

.fbox-effect.fbox-dark .fbox-icon i:hover,
.fbox-effect.fbox-dark:hover .fbox-icon i { background-color: #F2B01C; }

.fbox-effect .fbox-icon i:hover:after,
.fbox-effect:hover .fbox-icon i:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.card{
    border: none !important;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.card-title {
    text-align: center !important;
}
.card-header{
    background: #F2B01C !important;
    border-top-left-radius: 11px !important;
    Border-top-right-radius: 11px!important;
    text-align: center !important;
}
.card> .table-responsive {
    border: 1px solid;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-color: #F2B01C;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.card-body{
    border: 1px solid #F2B01C;
}
.btn-primary{
    background-color: #F2B01C !important;
    border:#F2B01C !important;}
.btn-primary:hover{
    background-color: #F2B01C !important;
    border:#F2B01C !important;
    color: #000000;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:focus, .pagination>.active>span:focus{

    background-color: #F2B01C !important;
    border:#F2B01C !important;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{color: #F2B01C !important;}

.pagination>li>a, .pagination>li>span{color: #F2B01C;}
a {color:#F2B01C ;}

th {
    background-color: rgba(0,0,0,.02) !important;
    color: #777 !important;
    text-align: left !important ;
}
.card {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #FFFFFF;
}

.heading-block::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #FFFFFF;
}
.lead {
    font-size: 1.3rem;
    font-weight: 300;
}
.counter {
    font-size: 50px;
    font-weight: 600;

}
.counter + h5 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

#page-title.page-title-parallax h1 {
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 600;
}

#page-title h1 {
    color: #FFFFFF;
}
.heading-block.center > span, .heading-block.text-center > span, .center .heading-block > span, .text-center .heading-block > span {
    max-width: none;
}

.heading-block h2 + span {
    font-size: 1rem;
}

.heading-block > span:not(.before-heading) {
    display: block;
    margin-top: 10px;
    font-weight: 400;
    color: #777;
}

.team-title span {
    display: block;
    color: #F2B01C;
    font-weight: 400;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 5px;
}
hr.style-eight {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #F2B01C;
    text-align: center;
}
 hr.style-eight::after {
     content: "Veja também";
     display: inline-block;
     position: relative;
     top: -1em;
     font-size: 12px;
     font-weight: 600;
     padding: 0px 1.4em;
     background: white;
 }
.tab-container {
    padding: 0;
}
#mob{
    display: none;
}

@media (max-width: 989px) {
    #desk{
        display: none;
    }
    #mob{
        display: initial;
    }
}
.grid-filter li.activeFilter a {
    background-color: #F2B01C;

}

.portfolio-desc h3 a {
    color: #F2B01C;
}

.portfolio-desc h3 a:hover {
    color: #282828;
}

.portfolio-item .portfolio-image, .portfolio-item .portfolio-image > a, .portfolio-item .portfolio-image img {
    border: 2px solid #F2B01C;
}

.page-item.active .page-link, .page-link:hover, .page-link:focus {
    color: #FFF !important;
    background-color: #F2B01C !important;
    border-color: #F2B01C !important;
}

.olist ol {
    counter-reset: item;
    margin: 0 0 1.5em;
    padding: 0;
}
.olist ol > li {
    counter-increment: item;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 2rem;
    text-indent: -1.2rem;
}

.olist ol > li::before {
    content: counter(item) '.';
    display: inline-block;
    font-weight: bold;
    padding-right: .5rem;
    text-align: right;
    width: 1.5rem;
}

.par_raleway{
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #818181;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
    margin-bottom: 10px;
}

.ulist ul {
    list-style: inside disc;
    display: block;
    -webkit-padding-start: 20px;
    margin-bottom: 20px !important;
    margin-left: 15px !important;
}
.ulist li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #818181;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
}
.title-bottom-border h1, .title-bottom-border h2, .title-bottom-border h3, .title-bottom-border h4, .title-bottom-border h5, .title-bottom-border h6 {
      border-bottom: 2px solid #F2B01C;
}

.grid-filter li a:hover {
    color: #F2B01C;
}

.table td, .table th {
    padding: .3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}