.Header {
  background-color: #10477f;
  position: fixed;
  border-bottom: 1px solid rgba(24, 49, 75, 0.3);
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;
}
.Header.scrolled {
  background-color: rgba(
    16,
    71,
    127,
    1
  ); /* Fundo escurecido quando o usuário rolar */
  color: #fff; /* Cor de texto quando o Header estiver escuro */
}

.Header.scrolled .image {
  opacity: 1;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.image {
  max-width: 10%;
  transition: opacity 0.3s ease;
  padding: 0.5%;
}

.li {
  display: flex;
}

.texto {
  color: #fff;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.texto:hover {
  color: #f7d400;
}

.p_Bandeira {
  cursor: pointer;
}

.bandeira {
  max-width: 40%;
}

.liSociais {
}

.fundoSociais {
  padding-right: 0.5rem;
  cursor: pointer;
}

.imgSociais {
  max-width: 28px;
}

.divSociais {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 2rem;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.submenuItem {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: left;
  white-space: nowrap;
  padding: 1rem 2rem 0.5rem 1rem;
  font-size: 14px;
}

.submenuItem:hover {
transition: .2s;
  color: #f7d400;
  background-color: #F6F1E4;
}

.submenu.open {
  display: block;
}

.submenuWrapper {
  position: relative;
}

.submenuWrapper:hover .submenu {
  display: block;
}

@media (max-width: 767px) {
  .texto {
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
  }
}

/* Tablets e telas médias */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets e telas médias */
  .texto {
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
  }
}

/* Desktops e telas grandes */
@media (min-width: 1024px) and (max-width: 1919px) {
  
  
  .div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  
  .image {
    max-width: 10%;
    transition: opacity 0.3s ease;
    padding: 0.5%;
  }
  
}