.Header {
  background-color: #10477f;
  position: fixed;
  border-bottom: 1px solid rgba(24, 49, 75, 0.3);
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;
}
.Header.scrolled {
  background-color: rgba(
    16,
    71,
    127,
    1
  ); /* Fundo escurecido quando o usuário rolar */
  color: #fff; /* Cor de texto quando o Header estiver escuro */
}

.Header.scrolled .image {
  opacity: 1;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.image {
  max-width: 10%;
  transition: opacity 0.3s ease;
  padding: 0.5%;
}

.li {
  display: flex;
}

.texto {
  color: #fff;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.texto:hover {
  color: #f7d400;
}

.p_Bandeira {
  cursor: pointer;
}

.bandeira {
  max-width: 40%;
}

.liSociais {
}

.fundoSociais {
  padding-right: 0.5rem;
  cursor: pointer;
}

.imgSociais {
  max-width: 28px;
}

.divSociais {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 2rem;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.submenuItem {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: left;
  white-space: nowrap;
  padding: 1rem 2rem 0.5rem 1rem;
  font-size: 14px;
}

.submenuItem:hover {
transition: .2s;
  color: #f7d400;
  background-color: #F6F1E4;
}

.submenu.open {
  display: block;
}

.submenuWrapper {
  position: relative;
}

.submenuWrapper:hover .submenu {
  display: block;
}
.divHamburguer{
  display: none;
  
}@media (max-width: 767px) {
  .divHamburguer{
    display: block;
  }
  .div{
    display: none;
  }
  .texto{
    font-size: 12px;
    padding: 0;
  }
  
/* Estilo para o botão hambúrguer */
.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  padding: 10px;
  transition: color 0.3s;
  color: #F7D400;
}
.hamburgerButton::after {
  background: #10477f;
  color: #F7D400;
}

/* Estilo para o menu móvel (inicialmente oculto) */
.mobileMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #10477f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: all 0.3s;
}

/* Classe para animar a abertura do menu */
.open {
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  opacity: 1;
  
}

/* Estilo dos links no menu móvel */
.mobileMenu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.3s;
}

/* Efeito de cor no hover dos links do menu móvel */
.mobileMenu a:hover {
  color: #f7d400;
}


}