.div{
    background-color: #10477F;
    display: block;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 20%;
}
.h2{
    margin: 0;
    padding-bottom: 2%;
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.texto{
    text-align: left;
    margin: 0;
    font-size: 18px;
    color: white;
    padding-bottom: 1%;
}

@media (max-width: 767px) {
    /* Estilos para telas pequenas */
    .div{
        background-color: #10477F;
        display: block;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1% 10%;
    }
    .h2{
        margin: 0;
        padding-bottom: 2%;
        font-size: 24px;
        font-weight: 600;
        color: white;
    }
    .texto{
        text-align: justify;
        margin: 0;
        font-size: 12px;
        color: white;
        padding-bottom: 1%;
    }
  }
  
  /* Tablets e telas médias */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets e telas médias */
     /* Estilos para telas pequenas */
     .div{
        background-color: #10477F;
        display: block;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1% 10%;
    }
    .h2{
        margin: 0;
        padding-bottom: 2%;
        font-size: 32px;
        font-weight: 600;
        color: white;
    }
    .texto{
        text-align: justify;
        margin: 0;
        font-size: 16px;
        color: white;
        padding-bottom: 1%;
    }
  }
  
  /* Desktops e telas grandes */
  @media (min-width: 1024px) and (max-width: 1919px) {
    /* Estilos para desktops e telas grandes */
  }