.fundoSociais{
    padding-right: 0.5rem;
    cursor: pointer;
}

.imgSociais{
    max-width: 28px;
}

.divSociais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

@media (max-width: 767px) {
    /* Estilos para telas pequenas */
    .imgSociais{
        max-width: 15px;
    }
    .divSociais{
    margin-right: 0;
}
  }
  
  /* Tablets e telas médias */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets e telas médias */
    .imgSociais{
        max-width: 20px;
    }
    .divSociais{
    margin-right: 0;
}
  }
  
  /* Desktops e telas grandes */
  @media (min-width: 1024px) and (max-width: 1919px) {
    /* Estilos para desktops e telas grandes */
    .imgSociais{
        max-width: 28px;
    }
    .divSociais{
    margin-right: 0;
}
  }