.div{
    
}

.section{
    background-color: #F6F1E4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}

.p{
    font-size: 48px;
    margin: 0.700rem;
    color: #10477F;
}

.image{
    max-width: 75%;
    padding-bottom: 0.5rem;
}

.botao{
    font-size: 24px;
    color: #FFF;
}

.containerBotao{
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #10477F;
    margin: 0 30%;
    padding: 0.8rem 1rem;
}